@model ExamMvc.ViewModels.BookPageModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
    <div class ="row">
@foreach (var item in Model.Books) {
    <div class="card col-3" style="width: 18rem; margin:2;">
  <img src="@item.Pic" class="card-img-top" alt="image">
  <div class="card-body">
      <ul class="list-group">
  <li class="list-group-item">Name = @item.Name</li>
  <li class="list-group-item">Author =@item.AuthorName</li>
  <li class="list-group-item">Status =status//</li>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Create" asp-controller="Takes" asp-route-PhoneId="@item.Id">make an order</a>
</ul>  
  </div>
</div>     
}
</div>
@if(Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber-1)" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-left">previous</i></a>
}
@if (Model.PageViewModel.HasNextPage)
{
   <a asp-action="Index" asp-route-page="@(Model.PageViewModel.PageNumber+1)" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right">next</i></a>  
}
